div{
    text-align: center;
    line-height: 50px;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    cursor: pointer;
}
/*渐变*/
#button1{
    background: linear-gradient(60deg, #000 0, #000 59%, #000 60%, #bcbcbc 60%, #bcbcbc 100%);
    border-radius: 25px;
    box-shadow: 3px 3px 5px rgba(0,0,0, .5);
    transition: all .5s;
}
#button1:hover {
    transform: scale(1.1);
}
.wrapper{
    position: relative;
}
/*light*/
#button2{
    margin-top: 0;
    overflow: hidden;
    color: #fff;
    border: 2px solid #fff;
    background-color: #000;
    transition: all 0.2s;
    position: absolute;
    top: 0;
}
#button2 .inside{
    background-color: #fff;
    width: 100%;
    height: 20px;
    position: absolute;
    left: -155px;
    transform: rotateZ(45deg);
}
#button2:hover {
    background: #3498db;
}
#button2:hover .inside{
    transition: all 0.3s ease;
    left: 135px;
}
.section{
    margin-top: 20px;
    perspective: 1500px;
    margin-bottom: 0;
}
/*3d*/
#button3 {
    transform-style: preserve-3d;
    transition: all 0.3s;
    margin-bottom: 0;
}
.section:hover #button3 {
    transform: rotateX(-90deg);
}
#button3 span {
    display: inline-block;
    left: 0;
    width: 100%;
    border: 5px solid #fff;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
}
#button3 span:nth-child(1) {
    color: #fff;
    transform: translate3d(0, 0, 30px);
}
#button3 span:nth-child(2) {
    color: #737f39;
    background: #fff;
    transform: rotateX(90deg) translate3d(0, 0, 30px);
}
/*lux*/
#button4 {
    margin-top: 50px;
    width: unset;
}
.btn-lux{
    display: inline-block;
    background: transparent;
    color: rgba(233, 190, 106, 0.7);
    width: 200px;
    border: 1px solid rgba(233, 190, 106, 0.7);
    background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));;
    background-size: 300% 300%;
    background-position: 1% 50%;
    transition: all 0.6s;
}
.btn-lux:hover {
    color: #fff;
    border: 1px solid rgba(223,190,106, 0);
    background-position: 90% 50%;
}
/*slide*/
#button5 {
    background: transparent;
    position: relative;
    z-index: 1;
}
.btn-bg {
    left: -100px;
    position: absolute;
    background: #46b5ff;
    z-index: -1;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    top: 0;
    margin: 0;
    transition: all 0.5s;
}
.bt5-bt {
    display: inline-block;
    position: absolute;
    width: 200px;
    height: 50px;
    color: #b4b4b4;
}
.bt5-one {
    left: -100px;
    color: #fff;
}
.bt5-two:hover {
    color: #fff;
}
.bt5-two:hover ~ .btn-bg {
    left: 100px;
    background: #ee6c2a;
}
.bt5-two:hover + span {
    color: #000;
}
/*border slide*/
#button6 {
    background: none;
    border: none;
    color: #fff;
    position: relative;
    transition: color 0.4s;
    overflow: hidden;
    box-shadow: inset 0 0 0 4px #F5F5F5, 0 0 1px 1px rgba(0, 0, 0, 0.25);
}
#button6:before, #button6:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px solid;
    box-sizing: border-box;
    transition: transform 0.4s ease-out;
}
#button6:before {
    border-color: #FC5185 transparent;
    transform: skewX(-85deg);
}
#button6:after {
    border-color: transparent #FC5185;
    transform: skewY(40deg);
}
#button6:hover {
    color: #e2997d;
}
#button6:hover:before, #button6:hover:after {
    transform: none;
}
/*click*/
#button7 .bt7 {
    display:inline-block;
    border:none;
    border-radius:.3em;
    box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1),inset 0 -0.25em 0 rgba(0,0,0,0.25),0 0.25em 0.25em rgba(0,0,0,0.05);
    color:#fff;
    line-height:1.5;
    letter-spacing:1px;
    padding:.5em 1.5em .75em;
    position:relative;
    text-shadow:0 1px 1px rgba(255,255,255,0.25);
    vertical-align:middle;
    text-decoration: none;
    cursor: pointer;
}
.bt7:active {
    outline:none;
    box-shadow:none;
    margin-top:5px;
    padding-bottom:10px;

}
/*nets*/
#button8 {
    background: #fff;
    color: #5b5b5b;
    border-radius: 6px;
    transition: all .5s;
    position: relative;
}
#button8:after {
    content: '';
    display: block;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px;
    border-top: 1px solid #ccc;
}
#button8:hover {
    background-color: #666;
    color: #fff;
    border-color: #000;
}
#button8:hover:after {
    background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
    border-top: 1px solid #000;
    animation: stripe-slide 12s infinite linear forwards;
}
/*switch*/
#button9 #switch {
    display: none;
}
#button9 #switch + label {
    display: inline-block;
    width: 40px;
    height: 20px;
    position: relative;
    transition: 0.3s;
    margin: 0 20px;
    box-sizing: border-box;
}
#button9 #switch + label:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    transition: 0.3s;
    cursor: pointer;
}
#button9 #switch + label {
    background: #ddd;
    border-radius: 20px;
    box-shadow: 1px 1px 3px #aaa;
}
#button9 #switch + label:after {
    background: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #aaa;
}
/*todo 颜色控制*/
/*#switch:checked + label.red {*/
    /*background: #ECA9A7;*/
/*}*/
/*#switch:checked + label.red:after {*/
    /*background: #D9534F;*/
/*}*/
#button9 #switch:checked + label {
    background: #ECA9A7;
}
#button9 #switch:checked + label:after {
    left: 20px;
    background: #D9534F;
}
/*😊😢切换*/
#button10 {
    position: relative;
    background: #fff;
}
#button10 input{
    display: none;
}
#button10:after, #button10:before {
    position: absolute;
    content: ':';
    z-index: 2;
    color: #e28021;
    letter-spacing: 10px;
    font-size: 50px;
    top: -5px;

}
#button10:before {
    left: 10px;
}
#button10:after {
    color: #7a7a7a;
    letter-spacing: 10px;
    right: 5px;
}
#button10 label:after {
    content: ')';
    color: #e28021;
    transition: 0.3s;
    position: absolute;
    left: 30px;
    top: 0;
}
#button10 label {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    background: #d5c755;
}
#smileSwitch:checked + label{
    background: #eee;
}
#smileSwitch:checked + label:after{
    color: #7a7a7a;
    left: 160px;
}
/*☯太极*/
#button11 {
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    border: 15px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    background:
            radial-gradient(circle at 50% 59%, #D2CAAB 3%, #364E27 4%, #364E27 11%, rgba(54,78,39,0) 12%, rgba(54,78,39,0)) 50px 0,
            radial-gradient(circle at 50% 41%, #364E27 3%, #D2CAAB 4%, #D2CAAB 11%, rgba(210,202,171,0) 12%, rgba(210,202,171,0)) 50px 0,
            radial-gradient(circle at 50% 59%, #D2CAAB 3%, #364E27 4%, #364E27 11%, rgba(54,78,39,0) 12%, rgba(54,78,39,0)) 0 50px,
            radial-gradient(circle at 50% 41%, #364E27 3%, #D2CAAB 4%, #D2CAAB 11%, rgba(210,202,171,0) 12%, rgba(210,202,171,0)) 0 50px,
            radial-gradient(circle at 100% 50%, #D2CAAB 16%, rgba(210,202,171,0) 17%),
            radial-gradient(circle at 0% 50%, #364E27 16%, rgba(54,78,39,0) 17%),
            radial-gradient(circle at 100% 50%, #D2CAAB 16%, rgba(210,202,171,0) 17%) 50px 50px,
            radial-gradient(circle at 0% 50%, #364E27 16%, rgba(54,78,39,0) 17%) 50px 50px;
    background-color:#63773F;
    background-size:100px 100px;
    transition: 1s ease-in-out;
}
#button11:hover {
    transform: rotate(360deg);
}
/*潮水*/
#button12 {
    position: relative;
    overflow: hidden;
    transition: 0.6s;
    text-align: center;
}
#button12:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3ad2d0;
    border-radius: 50% 50% 0 0;
    transform: translateY(100%) scaleY(0.5);
    transition: all 0.6s ease;
}
#button12:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 0;
    transform: translateY(0) scaleY(1);
    transition: all 0.6s ease;
}
#button12 span {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    transition: transform 0.5s ease;
}
#button12 span:first-child {
    color: #fff;
    transform: translateY(24px);
}
#button12 span:last-child {
    color: #1e0f21;
    transform: translateY(0);
}
#button12:hover {
    background: #3ad2d0;
    transition: background 0.2s linear;
    transition-delay: 0.6s;
}
#button12:hover:after {
    border-radius: 0 0 50% 50%;
    transform: translateY(-100%) scaleY(0.5);
}
#button12:hover:before {
    border-radius: 0;
    transform: translateY(0) scaleY(1);
}
#button12:hover span:first-child {
    transform: translateY(0);
}
#button12:hover span:last-child {
    transform: translateY(-50px);
}
/*动画*/
@-webkit-keyframes stripe-slide {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
@keyframes stripe-slide {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
